{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1 class="my-5 text-center">Log In</h1>
    <div class="flex-container">
        <form action="/login" method="post">
            <div class="my-2 text-center">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="my-2 text-center">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}
