{% extends "layout.html" %}
{% block title %}
Summary
{% endblock %}
{% block main %}
<h1 class="my-3 text-center">Summary</h1>

<h1 class="my-3 text-center">{{popular.name}}</h1>
<h1 class="my-3 text-center">{{ranked.name}}</h1>
<h1 class="my-3 text-center">{{tideman.name}}</h1>

<div class="my-3 text-center">
   <p>
      Head back to the homepage and start a new simulation.<br>
   </p>
   <div class="flex-container">
      <form action="/summary" method="post"> 
         <input type="hidden" name="action" value="homepage">
         <button class="btn btn-primary centered-button" type="submit">Back to Homepage</button>
      </form>
   </div>
</div>
<div>
   <div class="wave"></div>
   <div class="wave"></div>
   <div class="wave"></div>
</div>
{% endblock %}
